body {
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.text1 {
  text-align: center;
  letter-spacing: 7px;
}

.fotocontainer {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  
}

.fotoprofil {
  border: solid;
  border-color: rgb(255, 255, 255);
  border-width: 3px;
  border-radius: 300px;
  align-items: center;
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: top
  }

.text2 {
text-align: center;
font-weight: 500;
letter-spacing: 4px;

}

.bio {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  word-spacing: 2px;

}

.text3 {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
  margin-top: 60px;
}

.ABOUTME {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 50px;
}

.text4{
 text-align: center;
 font-weight: 500;
 letter-spacing: 3px;
}

.pendidikan{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.text5 {
  margin-top: 50px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
}

.kontak{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}